
body{
	height: 100%;
	width: 100%;
	margin: auto 0;
}
html{
  
  height: 100%;
  width: fit-content;
}
.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
/*HELLO SECTION*/
.container-hello{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(150deg, rgb(64, 64, 64), rgb(92, 92, 92));
}
.hello{
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: 'Kaushan Script', cursive;
  font-weight:400;
  font-size: 2.5em;
}
.fd{
  font-family: 'Kaushan Script', cursive;
  font-weight:400;
  font-size: 2.5em;
  color: white;
}
.button-hello {
  border-radius: 6px;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  padding: 10px;
  width: 185px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 6px;
}
.button-hello span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-hello span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-hello:hover span {
  padding-right: 28px;
}
.button-hello:hover span:after {
  opacity: 1;
  right: 0;
}
@media only screen and (max-width: 900px){
    .hello{
    font-size: 1em;
    padding: 0;
    }
    .button-hello{
    font-size: 1.8em;
    padding: 1px;
    
    }
  }
/*****************END*******************/



/*ABOUT SECTION*/
.container-about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 5px 20px 5px 20px;
  background: linear-gradient(75deg, rgb(64, 64, 64), rgb(92, 92, 92));
}
.proimg{
    display: block;
    position: relative;
    border-radius: 1rem;
    width: 250px;
    height: auto;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    top: 60px; 
    bottom: 40px;
    z-index: 1;
}
.aboutcard{
display: flex;
flex: 1 0 0%;
position: relative;
flex-direction: column;
align-items: center; 
min-width: 0;
max-width: 480px; 
max-height: auto;
margin: auto;
word-wrap: break-word;
background-clip: border-box;
border: 1px solid white;
border-radius: 0.9rem;
font-family: var(--bs-font-sans-serif);
background:#fff; 
padding: 70px 20px 20px 20px;
}

.button-about {
  border-radius: .25rem;
  background-color: #fff;
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  color: #000000;
  text-align: center;
  margin:7px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  border-color: solid black;
  box-shadow: 20px;
}
.button-about span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-about span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-about:hover span {
  padding-right: 25px;
}

.button-about:hover span:after {
  opacity: 1;
  right: 0;
}
@media only screen and (max-width: 800px){
  .aboutcard{
    font-size: 1em;
    padding: 80px 20px ;
    }
    .button-about{
      font-size: 0.9rem;
      width: 100px;
    }
  }

/***************END********/



/**************PROJECT SECTION*******************************/
 .projectcard{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    font-family: var(--bs-font-sans-serif);
    flex: 1 0 0%;
    background-color: #212529;
    color: #fff;

  }
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.Pdiscription{
  font-family:georgia;
  font-size: 1.15rem;

}
.phr{
  width:300px;
}
.grid-wrap{
  display: grid;
  grid-gap: 13px ;
  grid-template-columns: repeat(auto-fill,minmax(290px,1fr));
  grid-template-rows: 1fr;
  align-content: center;
}
.container-project{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;/* vh=viewport it will adjustthe cover secction ac to screen size to make it responsive*/
  max-height: auto;
  padding: 20px;
  background: linear-gradient(150deg, rgb(64, 64, 64), rgb(92, 92, 92));
}
.button-project {
  border-radius: .45rem;
  background-color: #fff;
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  padding: .365rem .65rem;
  font-size: 1.8rem;
  font-family: agency fb;
  border: none;
  color: #000000;
  text-align: center;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
}
.button-project span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-project span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-project:hover span {
  padding-right: 25px;
}
.button-project:hover span:after {
  opacity: 1;
  right: 0;
}
/***********************END**********************************/


/***************FOOTER*****************/
.contact
{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content:center;
  align-items: center;
}
.container-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;/* vh=viewport it will adjustthe cover secction ac to screen size to make it responsive*/
  background: linear-gradient(148deg, rgb(64, 64, 64), rgb(92, 92, 92));
  color:solid white;
}

a {
  text-decoration: none;
  color: white;
}
.a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}
.direct-contact{
  padding: 30px 30px 0px 30px;
}

.social-links{
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;

}
.social-links a {
    flex-direction: column;
    color: #fff;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    margin: 1.6rem;
    text-decoration: none;
    transition: all .2s ease-in;
}

/**************END******************************/
.chr{
  box-shadow: 30px;
  width: 70vh;
  align-content: center;
}

hr{
  box-shadow: 30px;
  align-content: center;
  color: solid black;
  width: 420px;
}

